@use "@carbon/colors";
@use "@carbon/type";

.pagination {
  @include type.type-style('body-short-01');
  background-color: colors.$white-0;
  color: colors.$gray-70;
  border: 1px solid colors.$gray-20;
  display: flex;
}

.tableBordered {
  border: 1px solid colors.$gray-20;
}

.tableDataRow > td {
  padding-left: 1rem !important;
  background-color: colors.$white-0 !important;
}

.tableHeaderRow > th {
  background-color: colors.$gray-20 !important;
}
