@use "@carbon/styles/scss/spacing";
@use "@carbon/styles/scss/type";
@import "~@openmrs/esm-styleguide/src/vars";

.grid {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.productiveHeading03 {
  @include type.type-style('productive-heading-03');
  margin-bottom: spacing.$spacing-03;
}

.formGroup {
  margin-bottom: spacing.$spacing-05;
}

.unsubscribeText {
  padding-bottom: spacing.$spacing-05;
}

.unsubscribeForm {
  margin-top: spacing.$spacing-05;
}
