@use "@carbon/styles/scss/spacing";
@use "@carbon/styles/scss/type";
@import "~@openmrs/esm-styleguide/src/vars";

.tabContentContainer {
  height: 100%;
  padding-left: spacing.$spacing-07;
  padding-right: spacing.$spacing-07;
  padding-top: spacing.$spacing-05;
  padding-bottom: spacing.$spacing-07;
  background-color: $ui-01;
  margin-left: -1 * spacing.$spacing-07;
  margin-top: -1 * spacing.$spacing-05;
  margin-right: -1 * spacing.$spacing-05;
}

.productiveHeading03 {
  @include type.type-style('productive-heading-03');
  margin-bottom: spacing.$spacing-03;
}

.input {
  margin-bottom: spacing.$spacing-05;
}

.formGroup {
  margin-bottom: spacing.$spacing-05;
}

.unsubscribeText {
  padding-bottom: spacing.$spacing-05;
}

.unsubscribeForm {
  margin-top: spacing.$spacing-05;
}
