@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

.tabContentContainer {
  height: 100%;
  padding-left: $spacing-07;
  padding-right: $spacing-07;
  padding-top: $spacing-05;
  padding-bottom: $spacing-07;
  background-color: $ui-01;;
  margin-left: -$spacing-07;
  margin-top: -$spacing-05;
  margin-right: -$spacing-05;
}

.productiveHeading03 {
  @include carbon--type-style('productive-heading-03');
  margin-bottom: $spacing-03;
}

.input {
  margin-bottom: $spacing-05;
}

.formGroup {
  margin-bottom: $spacing-05;
}

.unsubscribeText {
  padding-bottom: $spacing-05;
}

.unsubscribeForm {
  margin-top: $spacing-05;
}
