@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.tablet {
  padding: layout.$spacing-06 layout.$spacing-05;
  background-color: $ui-02;
}

.desktop {
  padding: 0rem;
}

.desktopRunReport {
  flex: 1;
  background-color: $ui-background;
  display: flex;
  flex-direction: column;
}

.formContent {
  padding: layout.$spacing-05;
}

.buttonsDiv {
  margin-top: auto;
}

.datePicker {
  text-align: left;
}

.reportButton {
  height: layout.$spacing-10;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}
