@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.tablet {
  padding: layout.$spacing-06 layout.$spacing-05;
  background-color: $ui-02;
}

.desktop {
  padding: 0;
}

.desktopRunReport {
  background-color: $ui-background;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.runReportInnerDivElement {
  display: flex;
  padding: layout.$spacing-05;
  flex-direction: column;
  align-items: flex-start;
  gap: layout.$spacing-05;
}

.basicInputElement {
  width: 300px;
  height: 30px;
  margin-bottom: 30px;
}

.outputFormatDiv {
  margin-bottom: 50px;
  display: flex;
  padding: layout.$spacing-07 layout.$spacing-05 layout.$spacing-05 layout.$spacing-05;
  flex-direction: column;
  align-items: flex-start;
  gap: layout.$spacing-05;
}

.buttonsDiv {
  margin-top: 50px;
}

.parameterElement {
  margin-bottom: 30px;
  margin-top: 30px;
}

.datePicker {
  text-align: left;
}

.cancelActionButton {
  text-decoration: underline;
  color: #525252;
  padding-left: 0px;
}

.unknownParameterTypeSpan {
  text-align: left;
  color: red;
}

.tableIcon {
  display: inline-block;
  margin-left: 10px;
}

.reportButton {
  height: layout.$spacing-10;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.rowCellEven {
  background-color: #ffffff !important;
}

.rowCellOdd {
  background-color: #f4f4f4 !important;
}
