@use '@carbon/colors';
@use '@carbon/layout';

.main {
  background-color: colors.$white-0;
}

.header {
  border-bottom: 1px solid colors.$gray-20;
  margin-bottom: layout.$spacing-05;
}

.tabList {
  padding: 0 layout.$spacing-05;
}

.tabPanel {
  height: 100%;
  background-color: colors.$gray-10;
}
