@use '@carbon/colors';

.cardLink {
  text-decoration: none;
  color: inherit;
  display: block;
}

.overviewCard {
  height: 8rem;
  width: 14rem;
  position: relative;
  margin-right: 1rem;

  .heading {
    color: colors.$gray-70;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
  }

  .content {
    color: colors.$gray-100;
    font-size: 1rem;
  }

  .iconWrapper {
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
    svg {
      color: colors.$blue-60;
    }
  }
}
