@use "@carbon/styles/scss/spacing";
@use "@carbon/styles/scss/type";
@import "~@openmrs/esm-styleguide/src/vars";

.systemAdminPage {
  background-color: $ui-02;

  .breadCrumbsContainer {
    nav {
      background-color: $ui-01;
    }
  }

  .cardsView {
    background-color: $ui-01;
    padding-top: 3rem;
  }

  .cardLinks {
    margin-left: 1rem;
    margin-right: 1rem;

    display: flex;
    flex: auto;
    flex-wrap: wrap;

    div {
      margin-top: 1rem;
    }

    :global(.cds--link) {
      height: 8rem;
      width: 14rem;
      position: relative;
      margin-right: 1rem;
    }

    :global(.heading) {
      color: $color-gray-70;
      font-size: 0.875rem;
      margin-bottom: 0.5rem;
    }

    :global(.content) {
      color: $color-gray-100;
      font-size: 1rem;
    }

    :global(.iconWrapper) {
      position: absolute;
      bottom: 0.5rem;
      right: 1rem;
      svg {
        color: $interactive-01;
      }
    }
  }
}
