@use "@carbon/styles/scss/spacing";
@use "@carbon/styles/scss/type";
@import "~@openmrs/esm-styleguide/src/vars";

.grid {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.productiveHeading03 {
  @include type.type-style('productive-heading-03');
  margin-bottom: spacing.$spacing-03;
}

.form {
  margin-top: spacing.$spacing-07;
}

.formText {
  padding-bottom: spacing.$spacing-05;
}

.fileUploaderDropContainer {
  margin-bottom: spacing.$spacing-06;
}
